$loadingColor : rgb(196, 144, 101);

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.pageUseToggle {
		button {
			margin-right: .5rem;
		}
	}

	.pageUseFetch {

		p.loading {
			font-size: 1rem;
			color: $loadingColor;

			.spinner {
				animation: spin infinite 2s linear;
			}

			@keyframes spin {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(360deg);
				}
			}
		}
	}
}